.btn2{
    font-size: 14px;
    padding: 7px 10px;
    background: linear-gradient(to right,rgb(17, 182, 182),rgb(27, 88, 156));
    border-radius: 4px;
    border: none;
    color: #fff;
}

.checkbox{
    margin: -5px 0 15px 0;
}

#checkbox{
    border: none;
    box-shadow: 0px 0px 2px .1px rgba(110, 109, 109, 0.5);
}

.btn3{
    margin-top: 5px;
    padding: 12px 0px;
    width: 100%;
    background: linear-gradient(to right,rgb(17, 182, 182),rgb(27, 88, 156));
    border-radius: 4px;
    border: none;
    color: #fff;
}

.forgot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot a{
    font-size: 12px;
    margin-top: 15px;
    color: #fff;
}

@media(max-width:768px) {
    .forgot a{
        position: absolute;
        bottom: 22%;
        color: #333;
    }
}
@media(max-width:308px) {
    .forgot a{
        bottom: 18%;

    }
}